/* *{
    margin: 0;
    padding: 0; */
    /* box-sizing: border-box; */
/* } */
/* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.box{
    margin-right: 10px;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 11px 10px;
    border-radius: 50px;
    align-items: center;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.box:hover input{
    width: 200px;
    color: white;
}
.box input{
    width: 0;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 500;
    transition: 0.8s;
}
.box a .fa{
    color: white;
    font-size: 18px;
}